html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-light-pink {
    background-color: #f8d0d6; /* Light pink color */
    color: #000; /* Adjust text color if needed */
}